ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    padding-top: 70px;
}


/*a{*/


/*text-decoration: none;*/


/*}*/


/*a {*/


/*list-style-type: none;*/


/*}*/

a:hover {
    text-decoration: none;
    color: #337ab7;
}

.s_ul>li,
ul li,
.float_letf {
    float: left;
}

.pub_bg {
    background-image: url('../img/project_choose_bg.jpg');
    height: 500px;
}

.cursor {
    cursor: pointer
}

.bg_Avatar {
    height: 114px;
    width: 114px;
    background-image: url('../img/touxiang.png');
}

.bg_vip {
    height: 90px;
    width: 90px;
    background-image: url('../img/vip.png');
    background-repeat: no-repeat;
}

.font {
    font-size: 16px;
}

.margin {
    margin: 10px 5px 0 0;
}

.i_search {
    width: 80%;
    border-radius: 0;
}

.navbar-inverse {
    border-radius: 0px;
}

.btn_search {
    position: relative;
    bottom: 34px;
    left: 80%;
    border-radius: 0;
}

.form_margin {
    margin-bottom: -18px;
}

.hotline {
    height: 28px;
    margin-top: 20px;
}

.nav>li>a {
    padding-left: 20px;
    padding-right: 20px;
}

.issue {
    background-image: url(../img/zuixin.png);
    background-position: -20px 411px;
    width: 130px;
    position: relative;
    right: 20px;
    height: 34px;
}

.nav_padding>div>div {
    margin: 0;
}

.s_ul {
    list-style-type: none;
}

.s_ul>li>i {
    margin: 10px 0 10px 0;
    height: 37px;
    width: 37px;
}

.s_ul span {
    position: relative;
    bottom: 20px;
}

.sum_one {
    display: inline-block;
    background-image: url(../img/index_top_count.png);
}

.sum_two {
    display: inline-block;
    background-image: url(../img/index_top_count.png);
    background-position: 0 -42px;
}

.sum_three {
    display: inline-block;
    background-image: url(../img/index_top_count.png);
    background-position: 0 79px;
}

.sum_four {
    display: inline-block;
    background-image: url(../img/index_top_count.png);
    background-position: 0 37px;
}

.project_padding {
    padding: 10px 0;
}

.tubiao {
    font-size: 20px;
    margin: 0 0 0 10px;
}

.news {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 4px 0 0 15px;
    /*line-height: 30px;*/
    background-image: url("../img/zuixin.png");
    background-repeat: no-repeat;
    background-position: 0 -440px;
}

.news_b {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 4px 0 0 15px;
    /*line-height: 30px;*/
    background-image: url("../img/img_title.png");
    background-repeat: no-repeat;
    background-position: 0px -41px;
}

.black {
    color: #333;
}

.span_p {
    position: relative;
    top: -10px;
}

.btn_p {
    position: absolute;
    top: 3px;
    right: 0;
}

.thumbnail>img {
    height: 137px;
}

.position_r {
    position: relative;
}

.dingwei {
    margin: 4px 0 4px 13px;
}

.s_ul>li,
.display_ib {
    display: inline-block;
}

.list_dl dd {
    padding: 8px 0 0 0;
}

.kefu {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 32px;
    background-image: url(../img/zuixin.png);
    background-position: 0 95px;
    width: 105px;
    height: 30px;
}

.kefu_two {
    display: inline-block;
    background-image: url(../img/zuixin.png);
    background-position: 0 64px;
    width: 47px;
    height: 49px;
}

.fz_25 {
    font-size: 25px;
    line-height: 40px;
    height: 40px;
    padding-left: 15px;
    border-left: 1px solid #c0c0c0;
}

.red {
    color: red;
}

.boder_bottom {
    border-bottom: 1px dashed silver;
    height: 45px;
    line-height: 45px
}

.silver {
    width: 35%;
    border-bottom: 1px solid #eeeeee;
}

.input_width {
    width: 70%;
}

.input_verify {
    width: 20%;
}

.sina {
    width: 100%;
    height: 40px;
    background-image: url(../img/sina.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.slide_box.carousel-inner>.item>a>img {
    height: 30%;
}

.cursor_def {
   pointer-events: none;
}

.ul_li_padding li {
    padding: 0 20px;
}

.c_silver {
    color: #999999;
}

.carousel-inner>.item>img {
    height: 420px;
}

.overflow_v {
    overflow: visible;
}

.details {
    /*z-index: 99;*/
    position: relative;
    top: -47px;
    padding: 0 5px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.publish_center {
    position: relative;
    width: 66%;
    /*max-height: 300px;*/
    left: calc(50% - 33%);
    top: 20%;
    border: 5px solid #399FE9;
    padding: 30px 30px;
    color: white;
}

.margin_auto {
    margin: 0 auto;
}

.margin_0 {
    margin: 0;
}

.progress {
    height: 10px;
    margin-bottom: 5px;
}

hr {
    margin-top: 0px;
    margin-bottom: 3px;
}

p {
    margin: 0px 0 5px;
}

.padding_left_20 {
    padding-left: 20px;
}
.padding_10{
    padding: 10px 10px;
}
.d_menu {
    min-width: 100%;
}

.product_adv img {
    width: 100%;
}

.modal-content.text-center {
    width: 70%;
    margin: 0 auto
}

.img_h {
    width: 100%;
    height: 530px;
}

.text-overflow {
    display: inline-block;
    width: 100%;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(max-width:768px) {
    .thumbnail>img {
        height: 239px;
    }
    .display_none {
        display: none;
    }
    .publish_center {
        top: 8%;
    }
    .img_h {
        height: 100%;
    }
}

@media(max-width:767px) {
    .nav>li {
        width: 100%;
    }
}